<div class="container">
  <h4>Details</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let getcoin of getCoin">
      <td>{{ getcoin.catname }}</td>
      <td>{{ getcoin.catdesc }}</td>
       <!--   <td><a [routerLink]="['/jewleryedit', getcoin._id]" class="btn btn-primary">Edit</a></td>-->
      <td><button (click)="deleteCoin(getcoin._id)"  class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
