<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Category Name</label>
        <input type="text" class="form-control" formControlName="catname" #catname />
      </div>
      <div *ngIf="angForm.controls['catname'].invalid && (angForm.controls['catname'].dirty || angForm.controls['catname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['catname'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Catergory Description</label>
        <input type="text" class="form-control" formControlName="catdesc" #catdesc/>
      </div>
      <div *ngIf="angForm.controls['catdesc'].invalid && (angForm.controls['catdesc'].dirty || angForm.controls['catdesc'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['catdesc'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addCoin(catname.value, catdesc.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>

      </div>
    </form>
  </div>
</div>
